<div class="card">
    <div class="card-body">
        <h1>Sobre nosotros</h1>
        <p>Somos una empresa interesada en el desarrollo de materiales didácticos en formato digital, basados en recursos educativos de uso común en otros tiempos, como memofichas, rompecabezas, juegos de lógica.</p>
    </div>
</div>