<div class="jumbo-tron-mt-4">
    <h1 class="display-4">Words-Apps</h1>
        <div class="lead">Descripción breve de la aplicación.</div>
        <hr class="mt-4"></div>
        </div><p>Texto final de la descripción del proyecto.</p>
    <a href = "https://dictionary.cambridge.org/es/diccionario/ingles-espanol/" class="btn btn-primary btn-lg">Diccionario</a>
</div>
